/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

.first {
  background-color: #222831;
}

.blue {
  padding: 2rem 0 2rem 0;
  color: #eeeeee;
}

.password {
  background-color: #eeeeee;
  margin: 2rem auto 2rem auto;
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 20rem !important;
  text-align: center;
  font-family: "Courier New", sans-serif;
}

.valuebox {
  margin: 4.5px 15px auto auto;
  background-color: white;
  width: 7rem;
  display: flex;
  height: 2.5rem;
  border-radius: 20px;
}

.strong {
  margin: auto;
}

.refresh {
  background-color: #222831;
}

.layout {
  height: 4rem;
  width: 22rem !important;
  margin-top: 1.5rem;
  background-color: #393e46;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#rangeInput {
  width: 10.5rem;
  margin-right: 0.5rem;
}

.layout .col.d-flex.align-items-center.justify-content-center .form-check {
  margin-bottom: 1;
}

.paragraphs {
  margin: 3% 0 0 0;
}

.secure {
  padding: 0 10%;
  text-align: center;
}

.smaller-image {
  max-width: 150px;
  max-height: 150px;
}
.smaller-image2 {
  max-width: 250px;
  max-height: 250px;
}

.include {
  padding: 0 15%;
  text-align: center;
}

.colored {
  background-color: #00adb5;
  margin-bottom: 3rem;
}

.store {
  text-align: center;
  margin: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 0.3s infinite linear;
}

@media (max-width: 768px) {
  .valuebox {
    margin: 0 auto 1rem auto;
  }

  .icon-butto {
    display: block;
    margin: 0.8rem auto;
    width: 20%;
    height: 3.8rem;
  }
}
