/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */

.first {
  background-color: #222831;
  
}

.blue {
  text-align: center;
  padding: 2rem 0 2rem 0;
  color: #eeeeee;
}

.password {
  background-color: white;
  margin: 3rem auto 2rem auto;
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 25rem !important;
  text-align: center;
  font-family: "Courier New", sans-serif;
}

.generate {
  margin: 3rem 0 0 0;
}

.btnn {
  margin: auto;
  font-size: 14px;
  color: #fff;
  background-color: #00adb5;
  padding: 10px 50px;
  border: solid #00adb5 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 371ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btnn:hover {
  transition: 371ms;
  padding: 10px 69px;
  transform: translateY(-0px);
  background-color: #393e46;
  color: white;
  border: solid 2px #0066cc;
}

.layout {
  height: 4rem;
  width: 22rem !important;
  margin-top: 2rem;
  background-color: #393E46;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#rangeInput {
  width: 10.5rem;
  margin-right: 0.5rem;
}



.layout .col.d-flex.align-items-center.justify-content-center .form-check {
 
  margin-bottom: 1;
}

.paragraphs {
  
  margin: 3% 0 0 0;
}

.secure {
  padding: 0 10%;
  text-align: center;
}


.smaller-image {
  max-width: 150px;
  max-height: 150px;
}
.smaller-image2 {
  max-width: 250px;
  max-height: 250px;
}

.include {
  padding: 0 15%;
  text-align: center;
}

.colored {
  height: 5rem;
  background-color: #00ADB5;
  margin-bottom: 3rem;
}

.store {
  text-align: center;
}









